@font-face{

    font-family: 'MyWebFont';
    
    src: url('../fonts/OpenSansCondensed-Light.eot');
    
    src: url('../fonts/WebFont.eot?iefix') format('eot'),
    
    url('../fonts/OpenSansCondensed-Light.woff') format('woff'),

    url('../fonts/OpenSansCondensed-Light.woff2') format('woff2'),
    
    url('../fonts/OpenSans-CondLight.ttf') format('truetype'),
    
    url('../fonts/WebFont.svg#webfont') format('svg');
    
    font-weight: 300;
    
    font-style: normal;
    
    }